In [9]:
import pandas as pd
import os
import sys

caminho_commons = os.path.join('..', '..', 'ajna_docs', 'commons')
sys.path.insert(0, caminho_commons)
sys.path.append('..')
sys.path.append('../../virasana')

from bhadrasana.main import engine

In [50]:
sql = 'SELECT o.id, tipoprocesso_id, p.numero FROM ovr_ovrs o inner join ovr_processos p on o.id = p.ovr_id'
df = pd.read_sql(sql, engine)

In [51]:
df

    id  tipoprocesso_id                numero
0    1                1  11128.000204/2020-91
1    1                2                  1234
2    1                3          11128.001234
3  182                1               1124577

In [53]:
df = df.pivot(index='id', columns='tipoprocesso_id', values='numero')
# df.reset_index( inplace=True)

In [56]:
df = df.fillna('')
df

tipoprocesso_id                     1     2             3
id
1                11128.000204/2020-91  1234  11128.001234
182                           1124577

In [57]:
df = df.reset_index()
df

tipoprocesso_id   id                     1     2             3
0                  1  11128.000204/2020-91  1234  11128.001234
1                182               1124577

In [58]:
sql = 'SELECT * FROM ovr_ovrs where id=1 or id=182'
df2 = pd.read_sql(sql, engine)

In [60]:
pd.merge(df2, df, how='inner', on='id')

,id,numero,ano,numeroCEmercante,recinto,observacoes,datahora,fase,responsavel_cpf,user_name,create_date,last_modified,tipooperacao,tipoevento_id,recinto_id,1,2,3
0,1,1,,151905215825958,None,111,2020-02-18 17:44:17,2,123,None,2020-02-14 12:38:44,2020-02-20 11:26:53,0,6,8194,11128.000204/2020-91,1234,11128.001234
1,182,18,2020,151905248648184,None,None,2020-02-07 00:00:00,2,789,None,0000-00-00 00:00:00,2020-02-20 13:44:46,0,5,25,1124577,,

In [65]:
planilha = pd.read_csv('PLANILHA.csv', encoding='latin8')

In [66]:
planilha.head()

,Unnamed: 0,Unnamed: 1,RECINTO,ABERTURA,Unnamed: 4,Unnamed: 5,B L,MERCADORIA,MARCAS,RETENÇÃO,...,Unnamed: 23,mês da,Data do bloqueio,Conclusão,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Auto de Crédito
0,NaN,CE,NaN,OVR/DOSSIÊ,DATA,CONTEINER,Nẃ,ENCONTRADA,FALSIFICADAS,Nẃ,...,resultado do julgamento,conclusão,NaN,NaN,NaN,NaN,Peso mês,Valor mês,NaN,NaN
1,Keroppi I,não há,LIBRA,1365,14/09/07,SUDU6594784,NGBAS0708015,NaN,NaN,076/2007,...,NaN,10/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Keroppi II,não há,LIBRA,1365,14/09/07,SUDU6594784,NGBAS0708015,NaN,NaN,071/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bonés,não há,LIBRA,1334,14/09/07,SUDU1844242,SUDUN74655538509,NaN,NaN,077/2007,...,NaN,11/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Futuro I,não há,LIBRA,873,19/06/07,MAEU8172847,52321551 HKHKGBRSSAS11744,NaN,NaN,040/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
unnamed_colums = [ind for ind, column in enumerate(planilha.columns) if 'Unnamed' in column]

In [95]:
import math
column_names = list(planilha.columns)
for column_number in unnamed_colums:
    subname = planilha.iloc[0][column_number]
    if isinstance(subname, str):
        print(subname, type(subname))
        column_names[column_number] = subname

CE <class 'str'>
DATA <class 'str'>
CONTEINER <class 'str'>
MOTIVO <class 'str'>
NOME <class 'str'>
NOME <class 'str'>
data do julgamento <class 'str'>
resultado do julgamento <class 'str'>
Peso mês <class 'str'>
Valor mês <class 'str'>

In [96]:
column_names

['Unnamed: 0',
 'CE',
 'RECINTO',
 'ABERTURA',
 'DATA',
 'CONTEINER',
 'B L',
 'MERCADORIA',
 'MARCAS',
 'RETENÇÃO',
 'MOTIVO',
 'EMBARCADOR',
 'EMPRESA',
 'NOME',
 'DESPACHANTE',
 'NOME',
 'FICHA RADAR',
 'PAF',
 'VALOR R$',
 'PESO',
 'PAF RFFP',
 'pessoas',
 'data do julgamento',
 'resultado do julgamento',
 'mês   da',
 'Data do bloqueio',
 'Conclusão',
 'Unnamed: 27',
 'Unnamed: 28',
 'Peso mês',
 'Valor mês',
 'Unnamed: 31',
 'Auto de Crédito']

In [97]:
column_names[0] = 'Apelido'

In [98]:
planilha.columns = column_names

In [99]:
planilha.head(10)

,Apelido,CE,RECINTO,ABERTURA,DATA,CONTEINER,B L,MERCADORIA,MARCAS,RETENÇÃO,...,resultado do julgamento,mês da,Data do bloqueio,Conclusão,Unnamed: 27,Unnamed: 28,Peso mês,Valor mês,Unnamed: 31,Auto de Crédito
0,NaN,CE,NaN,OVR/DOSSIÊ,DATA,CONTEINER,Nẃ,ENCONTRADA,FALSIFICADAS,Nẃ,...,resultado do julgamento,conclusão,NaN,NaN,NaN,NaN,Peso mês,Valor mês,NaN,NaN
1,Keroppi I,não há,LIBRA,1365,14/09/07,SUDU6594784,NGBAS0708015,NaN,NaN,076/2007,...,NaN,10/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Keroppi II,não há,LIBRA,1365,14/09/07,SUDU6594784,NGBAS0708015,NaN,NaN,071/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bonés,não há,LIBRA,1334,14/09/07,SUDU1844242,SUDUN74655538509,NaN,NaN,077/2007,...,NaN,11/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Futuro I,não há,LIBRA,873,19/06/07,MAEU8172847,52321551 HKHKGBRSSAS11744,NaN,NaN,040/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Futuro II,não há,LIBRA,874,19/06/07,TCNU9588842,854494941 HKHKGBRSSSA11987,NaN,NaN,066/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Golf,não há,TRANSBRASA,1470,08/10/07,TRLU5443713,ANRM270014127503,NaN,NaN,075/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,TVS,não há,SANTOS BRASIL,1469,08/10/07,SUDU4950192,SUDU270014127465,NaN,NaN,074/2007,...,NaN,12/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Melamina,não há,SANTOS BRASIL,1468,08/10/07,SUDU4990831,SUDU270014127370,NaN,NaN,073/2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Solution,não há,SANTOS BRASIL,1697,28/11/07,GVCU5333022,CLANPKGSSZ070185,NaN,NaN,não há,...,NaN,01/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
planilha.tail(10)

,Apelido,CE,RECINTO,ABERTURA,DATA,CONTEINER,B L,MERCADORIA,MARCAS,RETENÇÃO,...,resultado do julgamento,mês da,Data do bloqueio,Conclusão,Unnamed: 27,Unnamed: 28,Peso mês,Valor mês,Unnamed: 31,Auto de Crédito
563,SUN PEÇAS,151505123101116,STSBR CLIA SANTOS,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,SUN PEÇAS,151505125428619,STSBR CLIA SANTOS,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,SUN PEÇAS,151505126448265,STSBR CLIA SANTOS,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,SUN PEÇAS,151505129662381,STSBR CLIA SANTOS,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567,SUN PEÇAS,151505136806210,ECOPORTO,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,SELECIONADAS PARA VERIFICAÇÃO E ANÁLISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
planilha.columns

Index(['Apelido', 'CE', 'RECINTO', 'ABERTURA', 'DATA', 'CONTEINER', 'B L',
       'MERCADORIA', 'MARCAS', 'RETENÇÃO', 'MOTIVO', 'EMBARCADOR', 'EMPRESA',
       'NOME', 'DESPACHANTE', 'NOME', 'FICHA RADAR', 'PAF', 'VALOR R$', 'PESO',
       'PAF RFFP', 'pessoas', 'data do julgamento', 'resultado do julgamento',
       'mês   da', 'Data do bloqueio', 'Conclusão', 'Unnamed: 27',
       'Unnamed: 28', 'Peso mês', 'Valor mês', 'Unnamed: 31',
       'Auto de Crédito'],
      dtype='object')

In [353]:
planilha_filtrada = planilha[['Apelido', 'CE', 'RECINTO', 'DATA', 'Data do bloqueio', 'ABERTURA',
                              'CONTEINER', 'MERCADORIA', 'MARCAS', 'MOTIVO', 'DESPACHANTE',
                              'FICHA RADAR', 'PAF', 'VALOR R$', 'PESO', 'PAF RFFP']]
print(len(planilha))
print(len(planilha_filtrada))

573
573

In [354]:
# Substituir Recintos
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'TECONDI', 'RECINTO'] = 'Ecoporto'
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'TECONDI 2', 'RECINTO'] = 'Ecoporto'
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'MESQUITA', 'RECINTO'] = 'Ecoporto'
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'MESQUITA GUARU', 'RECINTO'] = 'Ecoporto'
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'STOS BRASIL', 'RECINTO'] = 'Santos Brasil'
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'STSBR', 'RECINTO'] = 'Santos Brasil'
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'STSBR CLIA SANTOS', 'RECINTO'] = 'Santos Brasil'
planilha_filtrada.loc[planilha_filtrada.RECINTO == 'STSBR CLIA GUARUJÁ', 'RECINTO'] = 'Santos Brasil'

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [355]:
planilha_filtrada = planilha_filtrada[planilha_filtrada.CE !='não há'][planilha_filtrada.CE.notnull()]
print(len(planilha))
print(len(planilha_filtrada))

573
535

C:\Users\25052288840\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [356]:
from bhadrasana.models.ovrmanager import get_recintos
from bhadrasana.main import session
session.rollback()

In [357]:
recintos_list = get_recintos(session)
recintos = [recinto[1].lower() for recinto in recintos_list]
recintos_id = [recinto[0] for recinto in recintos_list]
recintos_join = ' '.join(recintos)
print(recintos_join)
print('deicmar' in recintos_join)

def get_recinto(nome):
    for ind, recinto in enumerate(recintos):
        if nome == recinto[:len(nome)]:
            return ind
        #if nome in recinto:
        #    return ind
    return None
get_recinto('deicmar')

bandeirantes de armazens gerais bracenter centro bras. de armazenagem e distribuic btp bunge alimentos -moinho santos bunge alimentos-moinho santos-operador portuario brasil terminal portuario brasil terminal portuario cba- cia brasileira de aluminio cia bandeirantes cia bandeirantes cia bandeirantes cia. bandeirantes columbia deicmar deicmar deicmar deicmar alemoa deicmar port s.a. deicmar port s.a. deicmar s/a deicmar s/a deicmar s/a deicmar saboo ecoporto santos ecoporto santos ecoporto santos ecoporto santos ecoporto santos embraport - empresa brasileira de terminais portua embraport operador eudmarco libra - redex cubatao libra - redex santos libra terminais s/a libra terminais s/a libra terminais s/a libra terminal 35 libra terminal 37 libra terminal santos s.a localfrio marimex ipa marimex terminal 2 multilog brasil sa marimex nst terminais e logistica s/a nst terminais e logística s/a rodrimar ipa rodrimar s/a agente e comissaria rodrimar s/a terminais portuarios e armazens gerai rodrimar sa term.portuarios armaz.gerais santos brasil logistica s/a -clia guaruja santos brasil logistica s/a -clia santos santos brasil participacoes ltda santos/brasil sa operador portuario termag terminal maritimo do guaruja operador portu termares ipa termares operador portuario transbrasa ipa transchem agencia maritima ldta transbrasa union armazenagem e operações portuárias automatic union armazenagem e operações portuárias sa usiminas usiminas tpum
True

13

In [358]:
from collections import Counter
list_recinto_nok = []
list_recinto_ok = []
for ind, recinto in enumerate(planilha_filtrada['RECINTO']):
    recintostr = str(recinto).lower()
    recintostr = recintostr.split()[0]
    index = get_recinto(recintostr)
    if index is None:
        list_recinto_nok.append(recinto)
    else:
        list_recinto_ok.append(ind)
        count1 += 1
print('Encontrados %s Não encontrados %s' % (len(list_recinto_ok), len(list_recinto_nok)))
counter = Counter(list_recinto_nok)
print(counter.most_common())

Encontrados 478 Não encontrados 57
[(nan, 11), ('BLQ ENTREGA', 4), ('OP TECONDI', 4), ('BLQ  INV 05/04', 2), ('BLQ  INV 27/04', 2), ('TECONDI 1', 2), ('ENT', 2), ('Bloqueio total', 2), ('Entrega Columbia', 2), ('TANSBRASA', 1), ('RHAMO', 1), ('SANTOS-BRASIL', 1), ('MESQUITA STS', 1), ('BLQ INV 28/03', 1), ('BLQ 18/05/11', 1), ('BLQ  INV 14/04', 1), ('BLQ DI 07/05', 1), ('BLQ ENTREGA 15/06/11', 1), ('BLQ. INV', 1), ('MESQUITA GUARUJA', 1), ('BLQ OP', 1), ('TEMU2202310', 1), ('BLQ INV 21/03', 1), ('INV \x96 TRANSBRASA', 1), ('BLQ TOTAL', 1), ('Retenção parcial Eudmarco', 1), ('BLQ OP LIBRA', 1), ('ROCHAMAR', 1), ('Invisível', 1), ('Entrega', 1), ('Entrega Libra', 1), ('ELOG', 1), ('ELOG LOGISTICA', 1), ('DÍNAMO', 1), ('CLIA ELOG SUDESTE S/A', 1)]

In [359]:
print(recintos_id[get_recinto('santos')])

95

In [360]:
planilha_filtrada = planilha_filtrada.iloc[list_recinto_ok]
print(len(planilha_filtrada))

478

In [361]:
planilha_filtrada

,Apelido,CE,RECINTO,DATA,Data do bloqueio,ABERTURA,CONTEINER,MERCADORIA,MARCAS,MOTIVO,DESPACHANTE,FICHA RADAR,PAF,VALOR R$,PESO,PAF RFFP
17,QUINZINI JAQUETAS,150805095248595,Ecoporto,13/05/08,NaN,65,CRXU9060755,NaN,NaN,FALSA DECLARAÇÃO,033.760.208-50,13822/08,11128.003909/2008-21,"450.250,00","12.000,00",11128.003987/2008-60
18,INDUSCON,150805092044557,BANDEIRANTES,15/05/08,NaN,618,TTNU5510258,NaN,NaN,DOCUMENTO FALSO,159.125.018-84,14334/08,11128.004137/2008-89,"500.747,00","1.575,08",11128.004148/2008-69
19,QUINZINI BANDEIRANTES,150805094343373,BANDEIRANTES,NaN,NaN,NaN,PCIU9827129,NaN,NaN,FALSA DECLARAÇÃO,133.720.378-55,15272/08,11128.004215/2008-45,"1.019.432,00","17.400,00",11128.004227/2008-70
21,TRANSLU LOCAL FRIO,150805089717899 150805089717708,LOCAL FRIO,NaN,NaN,NaN,CAIU8209175 CAIU8208857,NaN,NaN,FALSA DECLARAÇÃO,055.295.158-78,15197/08,11128.004216/2008-90,"549.000,00","19.674,00",11128.004263/2008-33
22,BURBRA TERMARES,150803785455564,TERMARES,30/04/08,NaN,555,CCLU6844042,NaN,NaN,FALSA DECLARAÇÃO,091.754.368-84,15469/08,11128.004354/2008-79,"293.400,00","11.720,00",11128.004404/2008-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,SUN PEÇAS,151505123101116,Santos Brasil,NaN,NaN,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,SUN PEÇAS,151505125428619,Santos Brasil,NaN,NaN,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,SUN PEÇAS,151505126448265,Santos Brasil,NaN,NaN,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,SUN PEÇAS,151505129662381,Santos Brasil,NaN,NaN,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567,SUN PEÇAS,151505136806210,ECOPORTO,NaN,NaN,10120.002865/0515-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [362]:
planilha_filtrada['datahora'] = planilha_filtrada['DATA'].fillna(planilha_filtrada['Data do bloqueio'])

In [363]:
print(len(planilha))
print(len(planilha_filtrada))
print(planilha_filtrada['datahora'].isna().sum())
print(planilha_filtrada['DATA'].isna().sum())
print(planilha_filtrada['Data do bloqueio'].isna().sum())

573
478
80
111
126

In [364]:
planilha_filtrada.head(30)

,Apelido,CE,RECINTO,DATA,Data do bloqueio,ABERTURA,CONTEINER,MERCADORIA,MARCAS,MOTIVO,DESPACHANTE,FICHA RADAR,PAF,VALOR R$,PESO,PAF RFFP,datahora
17,QUINZINI JAQUETAS,150805095248595,Ecoporto,13/05/08,NaN,65,CRXU9060755,NaN,NaN,FALSA DECLARAÇÃO,033.760.208-50,13822/08,11128.003909/2008-21,"450.250,00","12.000,00",11128.003987/2008-60,13/05/08
18,INDUSCON,150805092044557,BANDEIRANTES,15/05/08,NaN,618,TTNU5510258,NaN,NaN,DOCUMENTO FALSO,159.125.018-84,14334/08,11128.004137/2008-89,"500.747,00","1.575,08",11128.004148/2008-69,15/05/08
19,QUINZINI BANDEIRANTES,150805094343373,BANDEIRANTES,NaN,NaN,NaN,PCIU9827129,NaN,NaN,FALSA DECLARAÇÃO,133.720.378-55,15272/08,11128.004215/2008-45,"1.019.432,00","17.400,00",11128.004227/2008-70,NaN
21,TRANSLU LOCAL FRIO,150805089717899 150805089717708,LOCAL FRIO,NaN,NaN,NaN,CAIU8209175 CAIU8208857,NaN,NaN,FALSA DECLARAÇÃO,055.295.158-78,15197/08,11128.004216/2008-90,"549.000,00","19.674,00",11128.004263/2008-33,NaN
22,BURBRA TERMARES,150803785455564,TERMARES,30/04/08,NaN,555,CCLU6844042,NaN,NaN,FALSA DECLARAÇÃO,091.754.368-84,15469/08,11128.004354/2008-79,"293.400,00","11.720,00",11128.004404/2008-18,30/04/08
23,BURBRA TECONDI,150803923489833,Ecoporto,02/04/08,NaN,564,CBHU8025840,NaN,NaN,FALSA DECLARAÇÃO,091.754.368-85,16379/08,11128.004403/2008-73,"262.196,00","10.437,00",11128.004448/2008-48,02/04/08
24,QUINZINI TRANSBRASA,150805097448320,TRANSBRASA,X,NaN,X,PCIU8353046,NaN,NaN,FALSA DECLARAÇÃO,133.720.378-55,17918/08,11128.004708/2008-85,"1.305.645,00","14.803,00",11128.004775/2008-08,X
25,BURBRA TRANSBRASA,150803141459725 150802558872708 150805090289404,TRANSBRASA,x,31/12/99,x,AMFU8741111 SUDU5501581 CRSU1041870,NaN,NaN,FALSA DECLARAÇÃO,091.754.368-84,17720/08,11128.004684/2008-64,"750.100,00","40.530,00",11128.004716/2008-21,x
26,BURBRA SANTOS BRASIL,150801942751309,SANTOS BRASIL,x,NaN,x,CBHU8102572,NaN,NaN,FALSA DECLARAÇÃO,091.754.368-84,18825/08,11128.004989/2008-76,"295.320,00","24.610,00",11128.005040/2008-93,x
27,BURBRA TRANSBRASA 4,150805057418047 150805090941969 15080504825087...,TRANSBRASA,x,NaN,x,CCLU2900894 KKFU1665842 SUDU5924639 SUDU556017-8,NaN,NaN,FALSA DECLARAÇÃO,091.754.368-84,19576/08,11128.005162/2008-80,"1.374.656,00","43.550,00",11128.005238/2008-77,x
28,ÇA-VA,150805088345955 150805088357376 150805088349608,LOCAL FRIO,x,NaN,x,KKFU757759-0 KKFU714649-0 KKFU764628-5,NaN,NaN,FALSA DECLARAÇÃO,041.164.148-40,20128/08,11128.005236/2008-88,"855.350,00","24.440,00",11128.005313/2008-08,x
29,DUPERIAL,150805111748518,TRANSBRASA,x,NaN,x,MSCU5053709,NaN,NaN,FALSA DECLARAÇÃO,116.721.058-11,20262/08,11128/005467/2008-91,"545.245,00","8.972,00",11128.005522/2008-43,x
30,TENIS ALARM TRADE,150805125278985,SANTOS BRASIL,x,NaN,x,DFSU6072779,NaN,NaN,CONTRAFAÇÃO,NaN,22462/08,11128.005812/2008-97,"1.067.370,00","16.512,00",11128.005887/2008-78,x
32,BURBRA BANDEIRANTES,150805091387540,BANDEIRANTES,x,NaN,x,NYKU791671-4,NaN,NaN,INTERPOSIÇÃO FRAUDULENTA,782.091.618-49 091.754.368-84,23587/08,11128.006161/2008-52,"53.792,00","1.422,00",11128.006250/2008-07,x
33,BURBRA SEM DI TERMARES,150805089525477,TERMARES,x,NaN,x,EISU356486-9,NaN,NaN,INTERPOSIÇÃO FRAUDULENTA,782.091.618-49 091.754.368-84,23591/08,11128.006162/2008-05,"108.100,00","10.920,00",11128.006249/2008-74,x
34,TRANSLU 4,150805051018217\n150805051042606\n150805092292...,LOCAL FRIO,x,NaN,x,KKFU760613-2 FSCU906015-0 CAIU820881-5 CCLU455...,NaN,NaN,INTERPOSIÇÃO FRAUDULENTA,055.295.158-78,24129/08,11128.006160/2008-16,"1.088.170,00","29.291,72",11128.006251/2008-43,x
35,UESLEI,150805130217344\n150805122023609\n150805099153...,LOCAL FRIO,x,NaN,x,AMFU849686-3 TCKU933883-3 GESU440051-9 EASU9...,NaN,NaN,INTERPOSIÇÃO FRAUDULENTA,xx,26451/08,11128.006786/2008-14,"2.435.661,40","70.419,00",11128.006792/2008-71,x
36,Contrafeitos M & R,150805116675055\n150805116674911,MARIMEX,x,NaN,x,SUDU5832487 SUDU5836409,NaN,NaN,CONTRAFAÇÃO,XX,26514/08,11128006712/2008-88,"3.224.580,00","34.500,00",11128.006793/2008-16,x
37,INDUSCON CARGA SOLTA,150805111440904,BANDEIRANTES,x,NaN,x,carga solta,NaN,NaN,INTERPOSIÇÃO FRAUDULENTA,159.125.018-84,27918/08,11128.006936/2008-90,"288.650,00","250,00",11128.007008/2008-42,x
39,WEIGS TENIS CONTRAFEITOS,150805138087857,SANTOS BRASIL,NaN,NaN,NaN,TCNU9910239,NaN,NaN,CONTRAFAÇÃO,XX,28005/08,11128.007233/2008-89,"1.096.620,00","15.800,00",11128.007397/2008-14,NaN
40,Falsa Declaração M & R,150805119470365,MARIMEX,NaN,NaN,NaN,KKFU7140980,CARTEIRAS E CUECAS,BURBERRY,FALSA DECLARAÇÃO/ CONTRAFAÇÃO,NaN,30305/08,11128.007612/2008-79,"1.251.253,00","17.000,00",11128.007683/2008-71,NaN
41,MY LIFE GAME,150805135986672,LOCAL FRIO,X,NaN,X,NYKU2943342,NaN,NaN,DOCUMENTO FALSO,081.290.098-70,28914/08,11128.007198/2008-06,"573.288,00","2.995,00",11128.007396/2008-61,X
42,CAPELLA TRADING TENIS,150805164801790,LIBRA,NaN,NaN,NaN,CAIU8099592,NaN,NaN,CONTRAFAÇÃO,NaN,30290/08,11128.007611/2008-24,"1.110.840,00","16.560,00",11128.007685/2008-61,NaN
43,SAINT FOUR CONTRAFEITOS,150805125208189,MARIMEX,NaN,NaN,NaN,GVCU5237965,NaN,NaN,CONTRAFAÇÃO,NaN,31533/08,11128.008139/2008-47,"1.218.175,00","19.725,00",11128.008260/2008-79,NaN
44,KENAH CACO3 TECONDI,150805176342931,Ecoporto,NaN,NaN,NaN,NEXU9537102,óculos e contrafeitos,NaN,FALSA DECLARAÇÃO,NaN,37864/08,11128.009207/2008-95,"1.912.511,50","18.000,00",11128.009293/2008-36,NaN
45,ONE PACK - ÓCULOS,150805164595449 150805164593667,RODRIMAR,NaN,NaN,NaN,NEXU9515675 NEXU9538644,óculos e contrafeitos,BURBERRY,FALSA DECLARAÇÃO / CONTRAFAÇÃO,NaN,35877/08,11128.009019/2008-67,"3.327.945,00","28.400,00",11128.009107/2008-69,NaN
47,JULIO CEZAR PARNOFF,150805194286746,RODRIMAR,NaN,NaN,NaN,SUDU5805727,PS3,NaN,FALSA DECLARAÇÃO,NaN,37636/08,11128.009146/2008-66 11128.003905/2009-68,"2.038.000,00","12.750,00",11128.009208/2008-30 11128.003933/2009-85,NaN
48,MECAB I PS3,150805204060001,RODRIMAR,NaN,NaN,NaN,INKU6505774,PS3,NaN,FALSA DECLARAÇÃO,NaN,37614/08,11128.009144/2008-77,"2.098.000,00","13.650,00",11128.009144/2008-77,NaN
49,JULIO SIOMAR,150805199748306,SANTOS BRASIL,NaN,NaN,NaN,SUDU5776188,PS2,NaN,FALSA DECLARAÇÃO,NaN,37623/08,11128.009143/2008-22,"3.780.000,00","16.800,00",11128.009210/2008-17,NaN
50,MECAB II PS2,150805199748810,SANTOS BRASIL,NaN,NaN,NaN,SUDU5512890,PS2,NaN,FALSA DECLARAÇÃO,NaN,37621/08,11128.009145/2008-11,"3.758.850,00","16.710,00",11128.009211/2008-53,NaN

In [365]:
print(len(planilha_filtrada[planilha_filtrada['datahora'] == 'X']))
print(len(planilha_filtrada[planilha_filtrada['datahora'] == 'x']))

2
12

In [366]:
from datetime import datetime
cont = 0
for data in planilha_filtrada['datahora']:
    try:
        print(datetime.strptime(data, '%y/%m/%d'))
    except (TypeError, ValueError):
        cont+=1
        pass

2013-05-08 00:00:00
2015-05-08 00:00:00
2030-04-08 00:00:00
2002-04-08 00:00:00
2026-12-08 00:00:00
2016-09-08 00:00:00
2022-09-08 00:00:00
2022-04-09 00:00:00
2005-06-09 00:00:00
2011-05-09 00:00:00
2001-06-09 00:00:00
2010-11-09 00:00:00
2019-11-09 00:00:00
2008-01-10 00:00:00
2018-11-09 00:00:00
2004-09-09 00:00:00
2014-09-09 00:00:00
2014-09-09 00:00:00
2017-09-09 00:00:00
2017-09-09 00:00:00
2014-09-09 00:00:00
2014-09-09 00:00:00
2017-09-09 00:00:00
2017-09-09 00:00:00
2023-09-09 00:00:00
2011-12-09 00:00:00
2004-02-10 00:00:00
2004-01-10 00:00:00
2025-01-10 00:00:00
2003-12-09 00:00:00
2016-03-10 00:00:00
2025-03-10 00:00:00
2018-11-09 00:00:00
2008-04-10 00:00:00
2014-07-09 00:00:00
2006-04-10 00:00:00
2011-05-09 00:00:00
2018-01-10 00:00:00
2014-05-10 00:00:00
2027-04-10 00:00:00
2011-05-10 00:00:00
2018-03-10 00:00:00
2009-04-10 00:00:00
2012-04-10 00:00:00
2024-05-10 00:00:00
2022-07-10 00:00:00
2026-07-10 00:00:00
2002-06-10 00:00:00
2023-06-10 00:00:00
2023-06-10 00:00:00
2009-09-10 00:00:00
2014-09-10 00:00:00
2002-09-10 00:00:00
2020-08-10 00:00:00
2014-09-10 00:00:00
2006-10-10 00:00:00
2014-09-10 00:00:00
2007-10-10 00:00:00
2030-11-10 00:00:00
2020-08-10 00:00:00
2020-08-10 00:00:00
2008-10-10 00:00:00
2003-12-10 00:00:00
2003-11-10 00:00:00
2008-12-10 00:00:00
2029-10-10 00:00:00
2024-11-10 00:00:00
2015-09-10 00:00:00
2007-06-10 00:00:00
2007-06-10 00:00:00
2007-06-10 00:00:00
2011-06-10 00:00:00
2014-06-10 00:00:00
2028-09-10 00:00:00
2014-02-11 00:00:00
2001-02-11 00:00:00
2018-02-11 00:00:00
2029-03-11 00:00:00
2023-02-11 00:00:00
2029-11-10 00:00:00
2007-02-11 00:00:00
2001-03-11 00:00:00
2025-04-11 00:00:00
2030-05-11 00:00:00
2005-05-11 00:00:00
2018-07-11 00:00:00
2018-07-11 00:00:00
2018-07-11 00:00:00
2002-08-11 00:00:00
2029-07-11 00:00:00
2007-07-11 00:00:00
2001-09-11 00:00:00
2007-07-11 00:00:00
2015-07-11 00:00:00
2019-08-11 00:00:00
2019-07-11 00:00:00
2028-10-11 00:00:00
2024-10-11 00:00:00
2022-09-11 00:00:00
2022-09-11 00:00:00
2028-10-11 00:00:00
2011-11-11 00:00:00
2028-09-11 00:00:00
2005-12-11 00:00:00
2020-10-11 00:00:00
2028-11-11 00:00:00
2011-01-12 00:00:00
2013-02-12 00:00:00
2027-10-11 00:00:00
2009-03-12 00:00:00
2020-10-11 00:00:00
2015-03-12 00:00:00
2004-01-12 00:00:00
2006-01-12 00:00:00
2013-04-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2005-12-11 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2004-01-12 00:00:00
2016-08-12 00:00:00
2012-03-12 00:00:00
2004-06-12 00:00:00
2018-06-12 00:00:00
2015-08-12 00:00:00
2017-09-12 00:00:00
2005-07-12 00:00:00
2018-10-12 00:00:00
2017-12-12 00:00:00
2004-04-13 00:00:00
2024-04-13 00:00:00
2005-04-13 00:00:00
2029-05-13 00:00:00
2003-07-13 00:00:00
2030-07-13 00:00:00
2005-08-13 00:00:00
2015-08-13 00:00:00
2022-05-13 00:00:00
2006-09-13 00:00:00
2017-09-13 00:00:00
2017-09-13 00:00:00
2030-09-13 00:00:00
2007-10-13 00:00:00
2021-10-13 00:00:00
2031-10-13 00:00:00
2023-10-13 00:00:00
2018-11-13 00:00:00
2023-10-13 00:00:00
2027-11-13 00:00:00
2029-11-13 00:00:00
2013-02-14 00:00:00
2017-02-14 00:00:00
2010-04-14 00:00:00
2001-04-14 00:00:00
2020-02-14 00:00:00
2001-04-14 00:00:00
2022-04-14 00:00:00
2008-05-14 00:00:00
2002-05-14 00:00:00
2004-04-14 00:00:00
2001-05-14 00:00:00
2028-04-14 00:00:00
2028-04-14 00:00:00
2030-04-14 00:00:00
2026-05-14 00:00:00
2026-05-14 00:00:00
2012-06-14 00:00:00
2012-06-14 00:00:00
2017-06-14 00:00:00
2024-06-14 00:00:00
2011-07-14 00:00:00
2009-07-14 00:00:00
2028-07-14 00:00:00
2001-05-14 00:00:00
2003-07-14 00:00:00
2030-06-14 00:00:00
2002-07-14 00:00:00
2011-09-14 00:00:00
2005-06-14 00:00:00
2015-08-14 00:00:00
2003-09-14 00:00:00
2021-08-14 00:00:00
2021-08-14 00:00:00
2012-09-14 00:00:00
2005-06-14 00:00:00
2018-09-14 00:00:00
2027-08-14 00:00:00
2015-09-14 00:00:00
2017-10-14 00:00:00
2029-10-14 00:00:00
2022-10-14 00:00:00
2005-11-14 00:00:00
2025-09-14 00:00:00
2025-09-14 00:00:00
2025-09-14 00:00:00
2001-10-14 00:00:00
2021-11-14 00:00:00
2014-11-14 00:00:00
2021-10-14 00:00:00
2008-12-14 00:00:00
2008-12-14 00:00:00
2016-12-14 00:00:00
2023-02-15 00:00:00
2003-03-15 00:00:00
2023-02-15 00:00:00
2011-03-15 00:00:00
2023-01-15 00:00:00
2007-04-15 00:00:00
2026-03-15 00:00:00
2013-03-15 00:00:00
2013-03-15 00:00:00
2023-03-15 00:00:00
2010-05-15 00:00:00
2013-05-15 00:00:00
2007-05-15 00:00:00
2027-05-15 00:00:00
2005-06-15 00:00:00
2026-05-15 00:00:00
2003-07-15 00:00:00
2029-06-15 00:00:00
2029-06-15 00:00:00
2016-07-15 00:00:00
2017-06-15 00:00:00
2002-07-15 00:00:00
2015-07-15 00:00:00
2009-07-15 00:00:00
2030-06-15 00:00:00
2024-06-15 00:00:00
2002-09-15 00:00:00
2022-09-15 00:00:00
2022-09-15 00:00:00
2023-06-15 00:00:00
2022-10-15 00:00:00
2002-12-15 00:00:00
2002-12-15 00:00:00
2025-09-15 00:00:00
2003-12-15 00:00:00
2025-02-16 00:00:00
2003-02-16 00:00:00
2017-03-16 00:00:00
2008-03-16 00:00:00
2016-03-16 00:00:00
2006-05-16 00:00:00
2014-04-16 00:00:00
2029-04-16 00:00:00
2011-05-16 00:00:00
2011-05-16 00:00:00
2007-06-16 00:00:00
2007-06-16 00:00:00
2010-06-16 00:00:00
2013-07-16 00:00:00
2016-08-16 00:00:00
2016-08-16 00:00:00
2027-06-16 00:00:00
2028-04-16 00:00:00
2029-08-16 00:00:00
2011-10-16 00:00:00
2023-08-16 00:00:00
2015-07-16 00:00:00
2015-09-16 00:00:00
2023-08-16 00:00:00
2010-11-16 00:00:00
2017-10-16 00:00:00
2014-02-17 00:00:00
2025-10-16 00:00:00
2013-02-17 00:00:00
2014-03-17 00:00:00
2012-04-17 00:00:00
2015-05-17 00:00:00
2025-05-17 00:00:00
2027-06-17 00:00:00
2025-05-17 00:00:00
2018-08-17 00:00:00
2006-07-17 00:00:00
2023-08-17 00:00:00
2015-09-17 00:00:00
2004-08-17 00:00:00
2006-09-17 00:00:00
2019-09-17 00:00:00
2002-10-17 00:00:00
2026-06-17 00:00:00
2028-06-17 00:00:00
2018-10-17 00:00:00
2023-11-17 00:00:00
2002-05-18 00:00:00
2007-05-18 00:00:00
2018-05-18 00:00:00
2021-05-18 00:00:00
2006-06-18 00:00:00
2005-06-18 00:00:00
2002-05-18 00:00:00
2002-05-18 00:00:00
2003-04-18 00:00:00
2024-04-18 00:00:00
2024-04-18 00:00:00
2018-07-18 00:00:00
2031-07-18 00:00:00
2023-07-18 00:00:00
2025-07-18 00:00:00
2001-08-18 00:00:00
2020-08-18 00:00:00
2022-08-18 00:00:00
2020-09-18 00:00:00
2001-10-18 00:00:00
2026-09-18 00:00:00
2024-08-18 00:00:00
2030-08-18 00:00:00
2004-10-18 00:00:00
2005-11-18 00:00:00
2021-11-18 00:00:00
2030-11-18 00:00:00
2007-12-18 00:00:00
2010-12-18 00:00:00
2026-12-18 00:00:00
2005-01-19 00:00:00
2014-01-19 00:00:00
2011-02-19 00:00:00
2002-04-19 00:00:00
2017-04-19 00:00:00
2016-04-19 00:00:00
2016-04-19 00:00:00
2023-04-19 00:00:00
2010-05-19 00:00:00
2014-05-19 00:00:00
2006-05-19 00:00:00
2030-07-19 00:00:00
2021-05-19 00:00:00
2021-05-19 00:00:00
2030-05-19 00:00:00
2031-05-19 00:00:00
2006-06-19 00:00:00
2019-06-19 00:00:00
2019-06-19 00:00:00
2028-06-19 00:00:00
2001-07-19 00:00:00
2008-07-19 00:00:00
2017-07-19 00:00:00
2025-07-19 00:00:00
2005-08-19 00:00:00
2005-08-19 00:00:00
2027-08-19 00:00:00
2002-09-19 00:00:00
2002-09-19 00:00:00
2004-09-19 00:00:00
2009-09-19 00:00:00
2023-09-19 00:00:00
2024-09-19 00:00:00
2025-09-19 00:00:00
2011-10-19 00:00:00
2016-10-19 00:00:00
2022-10-19 00:00:00
2023-10-19 00:00:00
2024-10-19 00:00:00
2031-10-19 00:00:00
2007-11-19 00:00:00
2013-11-19 00:00:00
2014-11-19 00:00:00
2003-12-19 00:00:00
2010-01-20 00:00:00
2006-12-19 00:00:00
2009-12-19 00:00:00
2020-12-19 00:00:00

In [367]:
print(cont)

105

In [368]:
from bhadrasana.models.ovr import OVR, ProcessoOVR, EventoOVR

In [375]:
def monta_ovr(registro):
    ovr = OVR()
    ovr.numeroCEmercante = registro['CE'].strip()
    ovr.observacoes = registro['Apelido'].strip()
    recintostr = str(registro['RECINTO']).lower().split()[0]
    ovr.recinto_id = get_recinto(recintostr)
    ovr.datahora = datetime.strptime(registro['datahora'], '%y/%m/%d')
    ovr.ano = str(ovr.datahora.year)
    ovr.numero = registro['ABERTURA']
    ovr.fase = 4
    ovr.tipooperacao = 1
    session.add(ovr)
    session.commit()
    print(ovr.__dict__)
    print(registro)
    

for linha in planilha_filtrada.iterrows():
    monta_ovr(linha[1])
    break

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001ABBD839948>}
Apelido                QUINZINI JAQUETAS
CE                     150805095248595
RECINTO                         Ecoporto
DATA                            13/05/08
Data do bloqueio                     NaN
ABERTURA                              65
CONTEINER                    CRXU9060755
MERCADORIA                           NaN
MARCAS                               NaN
MOTIVO                  FALSA DECLARAÇÃO
DESPACHANTE               033.760.208-50
FICHA RADAR                     13822/08
PAF                 11128.003909/2008-21
VALOR R$                      450.250,00
PESO                           12.000,00
PAF RFFP            11128.003987/2008-60
datahora                        13/05/08
Name: 17, dtype: object