In [1]:
import pandas as pd
import os
import sys

caminho_commons = os.path.join('..', '..', 'ajna_docs', 'commons')
caminho_virasana = os.path.join('..', '..', 'ajna_docs', 'virasana')
sys.path.insert(0, caminho_commons)
sys.path.append('..')
sys.path.append(caminho_virasana)

from bhadrasana.models import engine

2023-03-10 15:18:17,109 ajna         INFO     Configuração de log efetuada

Fazendo log de erros e alertas no arquivo  ..\..\ajna_docs\commons\ajna_commons\flask\error.log
Fazendo log de atividade no arquivo  ..\..\ajna_docs\commons\ajna_commons\flask\access.log

# 1 - Relatório BTP

In [2]:
df = pd.read_excel('data/relatorio_abertura_BTP.xlsx').drop_duplicates()

In [3]:
df.head()

,Data e Hora de Abertura,Recinto,Local (Quadra),Número CE,Número Contêiner,Lacres Encontrados,Lacres Colocados,Órgão e Setor Solicitante,Motivo,Data e Hora de Fechamento
0,2022-01-03 08:42:05.999996,BTP,WH14 13 Q 1,1.522070e+14,BEAU2270759,HLD4525556; HLG0214809,192926; HLD4525556,RFB,CONFERENCIA *DIREP*,2022-01-03 10:16:12.000003
1,2022-01-03 08:43:57.000003,BTP,WH14 13 P 1,1.522070e+14,HAMU1121927,0118231; 184515; HLD11831080; HLG0255980,192927; HLG0255980,RFB,CONFERENCIA *DIREP*,2022-01-03 10:18:46.999996
2,2022-01-03 08:47:20.000000,BTP,WH14 13 O 1,1.522070e+14,CAIU6911897,082155; FJ12404237; FJ12433883,192928; FJ12404237,RFB,CONFERENCIA *DIREP*,2022-01-03 10:15:30.999997
3,2022-01-03 12:09:31.000000,BTP,WH10 09 P 1,1.522070e+14,TEMU1464845,HLG0243148,193544; HLG0255993,RFB,CONFERENCIA FISICA,2022-01-03 12:23:57.999999
4,2022-01-03 12:24:39.000004,BTP,WH10 10 Q 1,1.521053e+14,TGBU7676158,EU21920172,193545,MAPA,INSPEÇÃO MADEIRA,2022-01-03 15:05:56.000003

In [4]:
df.groupby('Motivo').Recinto.count().sort_values(ascending=False).head(10)

Motivo
INSPEÇÃO MADEIRA                6743
RETIRADA DE AMOSTRA             2331
CONFERENCIA FISICA              1303
CONFERENCIA *DIREP*              682
INSP. MADEIRA S/ DESEMBARAÇO     593
RETIRADA DE RÓTULO               385
DISSOCIAÇÃO DE CARGA             159
REEFER SUPORTE                    93
CONF. FISICA C/ ENGENHEIRO        62
MOVIMENTAÇÃO DA CARGA             53
Name: Recinto, dtype: int64

In [5]:
df.groupby('Motivo').Recinto.count() / len(df)

Motivo
ANVISA                            0.000237
CONF. BAGAGEM + MADEIRA           0.000079
CONF. FISICA + MADEIRA            0.001105
CONF. FISICA C/ ENGENHEIRO        0.004892
CONFERENCIA *DIREP*               0.053807
CONFERENCIA *SEPEA*               0.000158
CONFERENCIA BAGAGEM               0.000868
CONFERENCIA FISICA                0.102801
DESUNIT. APÓS DESEMB.             0.000158
DESUNITIZAÇÃO                     0.000316
DISSOCIAÇÃO DE CARGA              0.012544
ESTUFAGEM DE CARGA                0.000079
ETIQUETAGEM                       0.000631
FOTOGRAFIA (LACRE)                0.001657
FUMIGAÇÃO                         0.000079
INSERÇÃO DE LACRE                 0.000079
INSP. MADEIRA + COLETA AMOSTRA    0.002051
INSP. MADEIRA + RET. RÓTULO       0.000316
INSP. MADEIRA S/ DESEMBARAÇO      0.046785
INSPEÇÃO MADEIRA                  0.531992
INTERRUPÇÃO DE FLUXO              0.004024
LEILÃO                            0.003156
MOVIMENTAÇÃO DA CARGA             0.004181
REEFER SUPORTE                    0.007337
RETIRADA AMOSTRAS INMETRO         0.000079
RETIRADA DE AMOSTRA               0.183905
RETIRADA DE AMOSTRA LABANA        0.000237
RETIRADA DE RÓTULO                0.030375
SACRIFÍCIO                        0.001262
SANEAMENTO DE FMA (RFB)           0.001341
TRANSBORDO DE CARGA               0.001420
VERIFICACAO DE LACRES             0.000158
VISTORIA DDC                      0.000394
VISTORIA EXERCITO                 0.000079
VISTORIA IBAMA + MAPA             0.000158
VISTORIA SEGURO                   0.001262
Name: Recinto, dtype: float64

In [6]:
df_btp = df[['Recinto', 'Data e Hora de Abertura', 'Órgão e Setor Solicitante', 'Motivo']]
df_btp.columns = ['recinto', 'abertura', 'orgao', 'motivo']

# 2 - Relatório DPW

In [7]:
df = pd.read_excel('data/relatorio_abertura_DPW.xlsx').drop_duplicates()

In [8]:
df.head()

,Data de Abertura,Motivo,Nro Conteiner,Lacre Encontrado,Lacre Encontrado.1,Lacre Encontrado.2,Lacre Encontrado.3,Lacre Colocado,Nro Documento,CEMERCANTE,Nro Documento.1,Quadra,Orgão Solicitante
0,03.01.2022 13:19:00,CONFERENCIA FISICA,PCIU8997563,DM36768,NaN,NaN,NaN,DM36768,152105314720904,152105314720904,2124733400,1W02I.1,RFB
1,03.01.2022 13:32:59,CONFERENCIA FISICA,MSKU6971626,ML-BR2351212,,,,ML-BR2351212,21BR0021337827,NaN,21BR0021337827,1W02M.1,RFB
2,03.01.2022 13:33:45,CONFERENCIA FISICA,MRKU0326876,ML-BR2351210,,,,ML-BR2351210,21BR0021337827,NaN,21BR0021337827,1W02J.1,RFB
3,03.01.2022 13:34:23,CONFERENCIA FISICA,SUDU5454577,ML-BR2351213,,,,ML-BR2351213,21BR0021337827,NaN,21BR0021337827,1W02P.1,RFB
4,03.01.2022 13:35:05,CONFERENCIA FISICA,MRKU0158216,ML-BR2351209,,,,ML-BR2351209,21BR0021337827,NaN,21BR0021337827,1W02O.1,RFB

In [9]:
df['Recinto'] = 'DPW'
df_dpw = df[['Recinto', 'Data de Abertura', 'Orgão Solicitante', 'Motivo']]
df_dpw.columns = ['recinto', 'abertura', 'orgao', 'motivo']

In [10]:
df.Motivo.value_counts()

INSPEÇÃO DE MADEIRA                         7107
CONFERENCIA FISICA                          2434
DESUNITIZAÇÃO                                627
COLETA DE AMOSTRA (LPCO)MAPA EXPORTAÇÃO      327
COLETA DE AMOSTRA ( L . I )  VEGETAL         297
COLETA DE AMOSTRA ( L . I )  ANIMAL          233
VISTORIA EXTERNA                             190
DISSOCIAÇÃO/MAPA                              96
CONFERENCIA VAZIO                             74
LABANA                                        53
SAT (ENGENHEIRO ALFANDEGA)                    45
COLETA DE AMOSTRA EXERCITO                    35
DESUNITIZAÇÃO APOS DESEMBARAÇO                27
FUMIGAÇÃO                                     24
CONFERENCIA FISICA E INSPEÇÃO DE MADEIRA      20
ABERTURA APOS FMA                             11
INSPEÇÃO DE MADEIRA E COLETA DE AMOSTRA       10
MARCAÇÃO                                       9
LIMPEZA DE RESIDUO                             4
AERAÇÃO                                        1
Name: Motivo, dtype: int64

In [11]:
df['Orgão Solicitante'].value_counts()

Mapa             8095
RFB              2617
DP World          658
Importador        151
Exportador         39
Exército           35
RFB / Mapa         20
Certificadora       9
Name: Orgão Solicitante, dtype: int64

# 3 - Planilha Santos Brasil

In [12]:
dfi = pd.read_excel('data/relatorio_abertura_SBT_impo.xlsx').drop_duplicates()

In [13]:
pd.set_option('display.max_columns', None)
dfi.head()

,RECINTO,MOTIVO,SETOR,CE_NUMERO,DOCUMENTO,ID,AMIM_CONTAINER,AMIM_VIAGEM,NAVIO_NOME,DATA_ABERTURA,LACRE_VER_1,LACRE_VER_2,LACRE_VER_3,RLCI_NUMERO
0,8931356,Agricultura,MAPA,1.521053e+14,202200474520,5001427,TCKU7062480,05084 2021,KOTA CABAR,11/01/2022 17:04:46,P6273539,NaN,NaN,ALT000572
1,8931356,Agricultura,MAPA,1.522050e+14,002515422022,5004220,MAEU3472899,00018 2022,CAP SAN AUGUSTIN,13/01/2022 12:06:51,NaN,NaN,NaN,NaN
2,8931356,Desova Armazém,DESPACH,1.522050e+14,202200863950,5004004,SEKU4346206,00018 2022,CAP SAN AUGUSTIN,13/01/2022 09:15:42,2113582,NaN,NaN,NaN
3,8931356,Agricultura,MAPA,1.522050e+14,202201124620,5005109,MSKU6676148,00115 2022,MAERSK LAVRAS,14-JAN-22 22:01:50,MLKR5502319,NaN,NaN,ALT000977
4,8931356,Desova Armazém,DESPACH,1.521053e+14,202203770243,4997417,PCIU1939117,04924 2021,YM TRUST,10/01/2022 20:46:57,SGA564922,NaN,NaN,NaN

In [14]:
df_sbt_i = dfi[['RECINTO', 'DATA_ABERTURA', 'SETOR', 'MOTIVO']]
df_sbt_i.columns = ['recinto', 'abertura', 'orgao', 'motivo']
df_sbt_i['recinto'] = 'SBT'

<ipython-input-14-8a93a03dd1aa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sbt_i['recinto'] = 'SBT'

In [15]:
dfi.MOTIVO.value_counts()

Agricultura              17169
Desova Armazém           10574
Desova Caminhao           4898
ConferÃªncia DRF          4105
Desova Armazm             1951
Seguradora                 572
Conferência DRF            547
ExÃ©rcito                  165
RFB aÃ§Ãµes especiais       12
FumigaÃ§Ã£o                  7
Ministerio da SaÃºde         5
Exército                     5
INMETRO                      3
Ministerio da Saúde          1
Name: MOTIVO, dtype: int64

In [16]:
dfi.SETOR.value_counts()

MAPA       17169
DESPACH    16045
RFB          547
EB             5
INMETRO        3
Name: SETOR, dtype: int64

In [17]:
dfe = pd.read_excel('data/relatorio_abertura_SBT_expo.xls').drop_duplicates()

In [18]:
dfe.head()

,RECINTO,MOTIVO,SETOR,Documento,Container,NAVIO SEM NOME,Viagem,Lacre Origem,Relacre,DATA_INI,DATA_FIM
0,8931356,Conferência DRF,RFB,22BR0001126723,TGBU4936400,CAP SAN MARCO,22/0181,"0011148,0242230,H5843412",ALV000660,2022-02-15 17:02:58,2022-02-15 17:04:31
1,8931356,Agricultura,MAPA,22BR0003637067,MNBU0386176,CAP SAN ANTONIO,22/0172,"0250106,MLBR2432411",ALW000617,2022-03-07 16:42:37,2022-03-07 16:44:19
2,8931356,Agricultura,MAPA,22BR0003642257,MNBU3144258,CAP SAN ANTONIO,22/0172,"0250087,MLBR2379504",MLBR2175925,2022-03-07 16:44:42,2022-03-07 16:45:12
3,8931356,Agricultura,MAPA,22BR0009763552,MSWU0002822,CAP SAN MARCO,22/0873,"001832,0274304,MLBR2628206",AMC000186,2022-06-10 15:52:45,2022-06-10 15:54:30
4,8931356,Agricultura,MAPA,22BR0009750000,SUDU6770517,CAP SAN MARCO,22/0873,"0273242,MLBR2368891",AMC000121,2022-06-10 16:01:33,2022-06-10 16:04:08

In [19]:
df_sbt_e = dfe[['RECINTO', 'DATA_INI', 'SETOR', 'MOTIVO']]
df_sbt_e.columns = ['recinto', 'abertura', 'orgao', 'motivo']
df_sbt_e['recinto'] = 'SBT'

<ipython-input-19-98df547c099f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sbt_e['recinto'] = 'SBT'

In [20]:
dfe.MOTIVO.value_counts()

Agricultura                3213
ConferÃªncia DRF            945
Conferência DRF             666
Verificar Lacre              40
Seguradora                   26
RFB aÃ§Ãµes especiais         9
Ibama                         8
Fumigação                     4
FumigaÃ§Ã£o                   4
ConclusÃ£o de TrÃ¢nsito       2
Name: MOTIVO, dtype: int64

In [21]:
dfe.SETOR.value_counts()

MAPA       3217
RFB         666
DESPACH      66
IBAMA         8
Name: SETOR, dtype: int64

In [22]:
df_tudo = pd.concat([df_btp, df_dpw, df_sbt_i, df_sbt_e])

In [23]:
df_tudo

      recinto                    abertura orgao               motivo
0         BTP  2022-01-03 08:42:05.999996   RFB  CONFERENCIA *DIREP*
1         BTP  2022-01-03 08:43:57.000003   RFB  CONFERENCIA *DIREP*
2         BTP         2022-01-03 08:47:20   RFB  CONFERENCIA *DIREP*
3         BTP         2022-01-03 12:09:31   RFB   CONFERENCIA FISICA
4         BTP  2022-01-03 12:24:39.000004  MAPA     INSPEÇÃO MADEIRA
...       ...                         ...   ...                  ...
11944     SBT         2022-11-24 15:34:03  MAPA          Agricultura
11961     SBT         2022-07-05 16:48:11  MAPA          Agricultura
11963     SBT         2022-07-05 16:53:20  MAPA          Agricultura
11999     SBT         2022-12-02 16:04:27  MAPA          Agricultura
12041     SBT         2023-01-20 16:48:04  MAPA          Agricultura

[69230 rows x 4 columns]

In [24]:
df_tudo.recinto.value_counts()

SBT    44931
BTP    12673
DPW    11624
10         2
Name: recinto, dtype: int64

In [26]:
df_tudo.motivo.value_counts().head(10)

Agricultura            20382
Desova Armazém         10574
INSPEÇÃO DE MADEIRA     7107
INSPEÇÃO MADEIRA        6743
ConferÃªncia DRF        5050
Desova Caminhao         4898
CONFERENCIA FISICA      3737
RETIRADA DE AMOSTRA     2331
Desova Armazm           1951
Conferência DRF         1213
Name: motivo, dtype: int64

In [27]:
df_tudo.orgao.value_counts().head(10)

MAPA          30628
DESPACH       16111
Mapa           8095
RFB            6016
DP World        658
CLIENTE         224
Importador      151
Exportador       39
Exército         35
RFB / Mapa       20
Name: orgao, dtype: int64

In [29]:
with engine.connect() as con:

    rs = con.execute('SELECT * FROM book')

    for row in rs:
        print(row)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'dbmercante.book' doesn't exist")
[SQL: SELECT * FROM book]
(Background on this error at: http://sqlalche.me/e/13/f405)