In [1]:
import pandas as pd
import os
import sys

caminho_commons = os.path.join('..', '..', 'ajna_docs', 'commons')
caminho_virasana = os.path.join('..', '..', 'ajna_docs', 'virasana')
sys.path.insert(0, caminho_commons)
sys.path.append('..')
sys.path.append(caminho_virasana)

from bhadrasana.models import engine

2023-03-06 17:24:30,513 ajna         INFO     Configuração de log efetuada

Fazendo log de erros e alertas no arquivo  ..\..\ajna_docs\commons\ajna_commons\flask\error.log
Fazendo log de atividade no arquivo  ..\..\ajna_docs\commons\ajna_commons\flask\access.log

# 1 - Relatório BTP

In [2]:
df = pd.read_excel('data/relatorio_abertura_BTP.xlsx')

In [3]:
df.groupby('Motivo').Recinto.count().sort_values(ascending=False).head(10)

Motivo
INSPEÇÃO MADEIRA                6743
RETIRADA DE AMOSTRA             2331
CONFERENCIA FISICA              1303
CONFERENCIA *DIREP*              682
INSP. MADEIRA S/ DESEMBARAÇO     593
RETIRADA DE RÓTULO               385
DISSOCIAÇÃO DE CARGA             159
REEFER SUPORTE                    93
CONF. FISICA C/ ENGENHEIRO        62
MOVIMENTAÇÃO DA CARGA             53
Name: Recinto, dtype: int64

In [4]:
df.groupby('Motivo').Recinto.count() / len(df)

Motivo
ANVISA                            0.000237
CONF. BAGAGEM + MADEIRA           0.000079
CONF. FISICA + MADEIRA            0.001105
CONF. FISICA C/ ENGENHEIRO        0.004892
CONFERENCIA *DIREP*               0.053807
CONFERENCIA *SEPEA*               0.000158
CONFERENCIA BAGAGEM               0.000868
CONFERENCIA FISICA                0.102801
DESUNIT. APÓS DESEMB.             0.000158
DESUNITIZAÇÃO                     0.000316
DISSOCIAÇÃO DE CARGA              0.012544
ESTUFAGEM DE CARGA                0.000079
ETIQUETAGEM                       0.000631
FOTOGRAFIA (LACRE)                0.001657
FUMIGAÇÃO                         0.000079
INSERÇÃO DE LACRE                 0.000079
INSP. MADEIRA + COLETA AMOSTRA    0.002051
INSP. MADEIRA + RET. RÓTULO       0.000316
INSP. MADEIRA S/ DESEMBARAÇO      0.046785
INSPEÇÃO MADEIRA                  0.531992
INTERRUPÇÃO DE FLUXO              0.004024
LEILÃO                            0.003156
MOVIMENTAÇÃO DA CARGA             0.004181
REEFER SUPORTE                    0.007337
RETIRADA AMOSTRAS INMETRO         0.000079
RETIRADA DE AMOSTRA               0.183905
RETIRADA DE AMOSTRA LABANA        0.000237
RETIRADA DE RÓTULO                0.030375
SACRIFÍCIO                        0.001262
SANEAMENTO DE FMA (RFB)           0.001341
TRANSBORDO DE CARGA               0.001420
VERIFICACAO DE LACRES             0.000158
VISTORIA DDC                      0.000394
VISTORIA EXERCITO                 0.000079
VISTORIA IBAMA + MAPA             0.000158
VISTORIA SEGURO                   0.001262
Name: Recinto, dtype: float64

# 2 - Relatório DPW

In [5]:
df = pd.read_excel('data/relatorio_abertura_DPW.xlsx')

In [6]:
df.head()

,Data de Abertura,Motivo,Nro Conteiner,Lacre Encontrado,Lacre Encontrado.1,Lacre Encontrado.2,Lacre Encontrado.3,Lacre Colocado,Nro Documento,CEMERCANTE,Nro Documento.1,Quadra,Orgão Solicitante
0,03.01.2022 13:19:00,CONFERENCIA FISICA,PCIU8997563,DM36768,NaN,NaN,NaN,DM36768,152105314720904,152105314720904,2124733400,1W02I.1,RFB
1,03.01.2022 13:32:59,CONFERENCIA FISICA,MSKU6971626,ML-BR2351212,,,,ML-BR2351212,21BR0021337827,NaN,21BR0021337827,1W02M.1,RFB
2,03.01.2022 13:33:45,CONFERENCIA FISICA,MRKU0326876,ML-BR2351210,,,,ML-BR2351210,21BR0021337827,NaN,21BR0021337827,1W02J.1,RFB
3,03.01.2022 13:34:23,CONFERENCIA FISICA,SUDU5454577,ML-BR2351213,,,,ML-BR2351213,21BR0021337827,NaN,21BR0021337827,1W02P.1,RFB
4,03.01.2022 13:35:05,CONFERENCIA FISICA,MRKU0158216,ML-BR2351209,,,,ML-BR2351209,21BR0021337827,NaN,21BR0021337827,1W02O.1,RFB

In [7]:
df.Motivo.value_counts()

INSPEÇÃO DE MADEIRA                         7107
CONFERENCIA FISICA                          2434
DESUNITIZAÇÃO                                627
COLETA DE AMOSTRA (LPCO)MAPA EXPORTAÇÃO      327
COLETA DE AMOSTRA ( L . I )  VEGETAL         297
COLETA DE AMOSTRA ( L . I )  ANIMAL          233
VISTORIA EXTERNA                             190
DISSOCIAÇÃO/MAPA                              96
CONFERENCIA VAZIO                             74
LABANA                                        53
SAT (ENGENHEIRO ALFANDEGA)                    45
COLETA DE AMOSTRA EXERCITO                    35
DESUNITIZAÇÃO APOS DESEMBARAÇO                27
FUMIGAÇÃO                                     24
CONFERENCIA FISICA E INSPEÇÃO DE MADEIRA      20
ABERTURA APOS FMA                             11
INSPEÇÃO DE MADEIRA E COLETA DE AMOSTRA       10
MARCAÇÃO                                       9
LIMPEZA DE RESIDUO                             4
AERAÇÃO                                        1
Name: Motivo, dtype: int64

In [8]:
df['Orgão Solicitante'].value_counts()

Mapa             8095
RFB              2617
DP World          658
Importador        151
Exportador         39
Exército           35
RFB / Mapa         20
Certificadora       9
Name: Orgão Solicitante, dtype: int64

# 3 - Planilha Santos Brasil

In [15]:
dfi = pd.read_excel('data/relatorio_abertura_SBT_impo.xlsx')

In [16]:
pd.set_option('display.max_columns', None)
dfi.head()

,RECINTO,MOTIVO,SETOR,CE_NUMERO,DOCUMENTO,ID,AMIM_CONTAINER,AMIM_VIAGEM,NAVIO_NOME,DATA_ABERTURA,LACRE_VER_1,LACRE_VER_2,LACRE_VER_3,RLCI_NUMERO
0,8931356,Agricultura,MAPA,1.521053e+14,202200474520,5001427,TCKU7062480,05084 2021,KOTA CABAR,11/01/2022 17:04:46,P6273539,NaN,NaN,ALT000572
1,8931356,Agricultura,MAPA,1.522050e+14,002515422022,5004220,MAEU3472899,00018 2022,CAP SAN AUGUSTIN,13/01/2022 12:06:51,NaN,NaN,NaN,NaN
2,8931356,Desova Armazém,DESPACH,1.522050e+14,202200863950,5004004,SEKU4346206,00018 2022,CAP SAN AUGUSTIN,13/01/2022 09:15:42,2113582,NaN,NaN,NaN
3,8931356,Agricultura,MAPA,1.522050e+14,202201124620,5005109,MSKU6676148,00115 2022,MAERSK LAVRAS,14-JAN-22 22:01:50,MLKR5502319,NaN,NaN,ALT000977
4,8931356,Desova Armazém,DESPACH,1.521053e+14,202203770243,4997417,PCIU1939117,04924 2021,YM TRUST,10/01/2022 20:46:57,SGA564922,NaN,NaN,NaN

In [22]:
dfi.MOTIVO.value_counts()

Agricultura              17177
Desova Armazém           10574
Desova Caminhao           4898
ConferÃªncia DRF          4105
Desova Armazm             1951
Seguradora                 572
Conferência DRF            547
ExÃ©rcito                  165
RFB aÃ§Ãµes especiais       12
FumigaÃ§Ã£o                  7
Ministerio da SaÃºde         5
Exército                     5
INMETRO                      3
Ministerio da Saúde          1
Name: MOTIVO, dtype: int64

In [23]:
dfi.SETOR.value_counts()

MAPA       17177
DESPACH    16045
RFB          547
EB             5
INMETRO        3
Name: SETOR, dtype: int64

In [18]:
dfe = pd.read_excel('data/relatorio_abertura_SBT_expo.xls')

In [19]:
dfe.head()

,RECINTO,MOTIVO,SETOR,Documento,Container,NAVIO SEM NOME,Viagem,Lacre Origem,Relacre,DATA_INI,DATA_FIM
0,8931356,Conferência DRF,RFB,22BR0001126723,TGBU4936400,CAP SAN MARCO,22/0181,"0011148,0242230,H5843412",ALV000660,2022-02-15 17:02:58,2022-02-15 17:04:31
1,8931356,Agricultura,MAPA,22BR0003637067,MNBU0386176,CAP SAN ANTONIO,22/0172,"0250106,MLBR2432411",ALW000617,2022-03-07 16:42:37,2022-03-07 16:44:19
2,8931356,Agricultura,MAPA,22BR0003642257,MNBU3144258,CAP SAN ANTONIO,22/0172,"0250087,MLBR2379504",MLBR2175925,2022-03-07 16:44:42,2022-03-07 16:45:12
3,8931356,Agricultura,MAPA,22BR0009763552,MSWU0002822,CAP SAN MARCO,22/0873,"001832,0274304,MLBR2628206",AMC000186,2022-06-10 15:52:45,2022-06-10 15:54:30
4,8931356,Agricultura,MAPA,22BR0009750000,SUDU6770517,CAP SAN MARCO,22/0873,"0273242,MLBR2368891",AMC000121,2022-06-10 16:01:33,2022-06-10 16:04:08

In [20]:
dfe.MOTIVO.value_counts()

Agricultura                7589
ConferÃªncia DRF           2174
Conferência DRF            2172
Verificar Lacre              70
Seguradora                   58
RFB aÃ§Ãµes especiais        26
Ibama                        16
Fumigação                     8
FumigaÃ§Ã£o                   8
ConclusÃ£o de TrÃ¢nsito       4
Name: MOTIVO, dtype: int64

In [21]:
dfe.SETOR.value_counts()

MAPA       7597
RFB        2172
DESPACH     128
IBAMA        16
Name: SETOR, dtype: int64

# 4 - Planilha Abtra

In [21]:
os.listdir('data/')

['.ipynb_checkpoints',
 '.~lock.relatorio_abertura_DPW.xlsx#',
 'AcessoVeiculo.json',
 'BTP escâner - dia 26-WF.xlsx',
 'PesagemVeiculo.json',
 'Relacaoabertura_desuniCTR_final012022.xlsx',
 'Relacaoabertura_desuniCTR_final022022.xlsx',
 'Relacaoabertura_desuniCTR_final032022.xlsx',
 'Relacaoabertura_desuniCTR_final042022.xlsx',
 'Relacaoabertura_desuniCTR_final052022.xlsx',
 'Relacaoabertura_desuniCTR_final062022.xlsx',
 'Relacaoabertura_desuniCTR_final072022.xlsx',
 'Relacaoabertura_desuniCTR_final082022.xlsx',
 'Relacaoabertura_desuniCTR_final092022.xlsx',
 'Relacaoabertura_desuniCTR_final102022.xlsx',
 'Relacaoabertura_desuniCTR_final112022.xlsx',
 'Relacaoabertura_desuniCTR_final122022.xlsx',
 'relatorio_abertura_BTP.xlsx',
 'relatorio_abertura_DPW.xlsx',
 'SBT escâner - dia 08-WF.ods']

In [25]:
df = pd.read_excel('data/Relacaoabertura_desuniCTR_final012022.xlsx', header=1)

In [26]:
df.head()

,Recinto,Conteiner,Data/Hora Abertura,Local,Quadra,Regime,Operacao CTR,Tipo,Numero Documento Saida,Numero BL,Porto,Armador,Lacre,Lacre.1,Lacre.2,Lacre.3
0,098 SANTOS BRASIL LOGISTICA S/A -CLIA SANTOS,BMOU6156543,2022-01-01 07:30:00,A01063,NaN,HP,Desunitizacaoo total sem unitizacao,DI,202200191951,CHS0022335,321,3518,NaN,NaN,NaN,NaN
1,098 SANTOS BRASIL LOGISTICA S/A -CLIA SANTOS,BMOU6156543,2022-01-01 07:30:00,A01063,NaN,HP,Desunitizacaoo total sem unitizacao,DI,202200163230,CHS0022360,321,3518,NaN,NaN,NaN,NaN
2,098 SANTOS BRASIL LOGISTICA S/A -CLIA SANTOS,BMOU6156543,2022-01-01 07:30:00,A01063,NaN,HP,Desunitizacaoo total sem unitizacao,DI,202200161122,CHS0022361,321,3518,NaN,NaN,NaN,NaN
3,098 SANTOS BRASIL LOGISTICA S/A -CLIA SANTOS,BMOU6156543,2022-01-01 07:30:00,A01063,NaN,HP,Desunitizacaoo total sem unitizacao,DI,202200194586,CHS0022365,321,3518,NaN,NaN,NaN,NaN
4,098 SANTOS BRASIL LOGISTICA S/A -CLIA SANTOS,BMOU6156543,2022-01-01 07:30:00,A01063,NaN,HP,Desunitizacaoo total sem unitizacao,DI,202200186613,CHS0022367,321,3518,NaN,NaN,NaN,NaN

In [29]:
df['Operacao CTR'].value_counts()

Desunitizacaoo total sem unitizacao           16896
Desunitizacao total com unitizacao total       2342
Desunitizacao total com unitizacao parcial       71
Name: Operacao CTR, dtype: int64

In [30]:
df.groupby('Recinto')['Operacao CTR'].value_counts()

Recinto                                       Operacao CTR
009 ECOPORTO SANTOS - TERMINAL 3              Desunitizacaoo total sem unitizacao             33
010 ECOPORTO SANTOS - TERMINAL 1              Desunitizacaoo total sem unitizacao            122
                                              Desunitizacao total com unitizacao total        25
011 ECOPORTO SANTOS - TERMINAL 2              Desunitizacaoo total sem unitizacao           2078
021 EMBRAPORT - EMPRESA BRASILEIRA DE TERMIN  Desunitizacaoo total sem unitizacao            371
022 BRASIL TERMINAL PORTUARIO - DEPOSITARIO   Desunitizacao total com unitizacao total       581
                                              Desunitizacao total com unitizacao parcial       1
                                              Desunitizacaoo total sem unitizacao              1
037 TERMARES - IPA                            Desunitizacaoo total sem unitizacao           2396
                                              Desunitizacao total com unitizacao total        13
050 TRANSBRASA - IPA                          Desunitizacao total com unitizacao total       317
                                              Desunitizacaoo total sem unitizacao            115
052 EUDMARCO - clia                           Desunitizacaoo total sem unitizacao            555
                                              Desunitizacao total com unitizacao total         8
061 MULTILOG BRASIL S/A                       Desunitizacaoo total sem unitizacao            606
070 SANTOS BRASIL PARTICIPACOES LTDA          Desunitizacao total com unitizacao total       933
                                              Desunitizacaoo total sem unitizacao            492
076 MARIMEX - TERMINAL 2                      Desunitizacaoo total sem unitizacao            527
                                              Desunitizacao total com unitizacao parcial       4
090 LOCALFRIO - IPA                           Desunitizacao total com unitizacao total       462
                                              Desunitizacaoo total sem unitizacao            445
                                              Desunitizacao total com unitizacao parcial      66
091 LOCALFRIO S.A. ARMAZENS GERAIS FRIGORIFI  Desunitizacaoo total sem unitizacao            106
                                              Desunitizacao total com unitizacao total         3
092 BANDEIRANTES DEICMAR LOGISTICA INTEGRADA  Desunitizacaoo total sem unitizacao           4143
095 SANTOS BRASIL LOGISTICA S/A -CLIA GUARUJ  Desunitizacaoo total sem unitizacao            251
096 BANDEIRANTES DEICMAR LOGISTICA INTEGRADA  Desunitizacaoo total sem unitizacao           2998
098 SANTOS BRASIL LOGISTICA S/A -CLIA SANTOS  Desunitizacaoo total sem unitizacao           1657
Name: Operacao CTR, dtype: int64